http://www.delhimilonga.com/apps/calendar/
http://www.delhimilonga.com/advance-tango-class
http://www.delhimilonga.com/delhi-tango
http://www.delhimilonga.com/delhi-tango-festivalhttp://www.delhimilonga.com/delhi-tango-festival

https://www.facebook.com/DelhiTango/

https://goo.gl/maps/WUEfXqzq7US2   eros

We hold a weekly milonga de Mis Amores.They can be seen HERE. Please confirm your participation by mailing me at kiran.sawhney@gmail.com or dropping a message on facebook and call #9810530027


http://www.newdelhitango.com/index.php

cerv : https://goo.gl/maps/cfbQstQUKpT2
NDTS Locaiotn : https://goo.gl/maps/PnXemoRF8AB2

Also see the calendar.
Admission in New Delhi Tango School- NDTS

Tango class every Saturday & Sunday with Kiran and Eduardo
Fee for intermediate class. Rs.5000/- 12 lessons. Time: 12.30-2 pm
Book a private for Rs. 3000/- per hour. (Package of 10 for Rs. 25,000/-)

New Delhi Tango school- NDTS
E-193, Greater Kailash- II, New Delhi.

Beginner's tango lessons: Every Friday. 8-9 pm (before the milonga)
Venue: Eros Hotel. Fee Rs.3000/- for 5 lessons.

Tango lessons with Kiran. Every Saturday and Sunday
5.30 pm-7 pm
Institute Cervantes, run by Embassy of Spain,
48 Hanuman Road, CP, New Delhi.

Contact- Kiran Sawhney
#9810530027
Naman 
#+919878314568
kiran.sawhney@gmail.com
